{% extends 'index.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" style='color:red'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'allrecord' %}" style="color:red">View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'saverec' %}" style="color:red">Enter Details</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red">
              Filter
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'getreportbycategory' %}">Report by Category</a>
              <a class="dropdown-item" href="{% url 'getreportbydate' %}">Report by Date</a>
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout1' %}" style="color:red">Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"style="color:red"></a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

